@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v183/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary-color: black;
    --secondary-color: rgb(47, 120, 255);
    --background-color: white;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--secondary-color);
    width: 100%;
    width: -webkit-fill-available;
    padding: 1em;
    align-content: center;
}

nav {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    /* padding: 1em; */
    background: var(--secondary-color);
    height: 100vh;
    height: -webkit-fill-available;
    overflow: auto;
}

nav button {
    font-size: large;
    font-weight: bold;
    padding: 0.4em 0.5em;
}

table {
    margin-top: 2em;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
    text-align: center;
    border-top: 1px solid var(--primary-color);
}

.vCenterItem {
    margin: auto 0;
}

.btn {
    border: var(--primary-color) solid 1px;
}

button {
    background: none;
    border: none;
    border-radius: 0.25em;
    padding: 0.25em;
    font-size: medium;
    font-weight: 550;
}

button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.notVisible {
    display: none !important;
}

.main {
    overflow: auto;
    padding: 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.centerItems {
    align-items: center;
}

main {
    overflow: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

label::first-letter {
    text-transform: capitalize;
}

.btnSuccess {
    background-color: greenyellow;
}

.btnDanger {
    background-color: red;
}